@import 'config';

// RESPONSIVE STYLES FOR SMALL SCREENS
@media screen and (max-width: 767px) {
  #search-page {
    padding: 2rem 1.5rem;

    #search-form {
      height: auto;

      img {
        max-width: calc(100vw - 40px);
      }
      h2 {
        font-size: 1.2rem;
      }
      form {
        flex-direction: column;
        align-items: center;
        button {
          width: fit-content;
        }
      }
    }
  }

  #details-page {
    margin-top: 1rem;
    padding: 2rem 1.5rem;
    min-height: calc(100vh - 50px - 1rem);

    .nav {
      padding: 0.5rem 1rem;
      width: 100%;
      background-color: $dark;
    }
    .top-row {
      display: contents;
      img {
        margin: 0 auto;
        &:hover {
          cursor: default;
        }
      }
      h1 {
        font-size: 1.8rem;
      }
      h1, h4 {
        text-align: center;
      }
      div > p {
        font-size: 0.9rem;
        justify-content: center;
        align-items: end;
        grid-template-columns: auto auto;
        span {
          font-size: 0.9rem;
        }
      }
    }
    .crawl {
      max-width: 400px;
      font-size: 1rem;
      text-align: justify;
    }
  }

  footer {
    position: relative;
    text-align: center;
  }
}