@import 'config';

#search-page {
  min-height: 100vh;
  min-width: 100vw;
  padding: 4rem;
}

#search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;

  img {
    margin-bottom: 4rem;
  }

  h2 {
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    gap: 1rem;
  }

  input, button {
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
  }

  input {
    text-align: center;
    width: 250px;
  }
}

#search-results {
  display: flex;
  justify-content: space-evenly;
}

.film {
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 275px;
  text-align: center;

  img {
    width: 160px;
    height: auto;
    border-radius: 5px;
    margin: 1rem auto;
  }

  &:hover {
    cursor: pointer;
    background-color: $light;
    color: $dark;
  }
}