@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $primary-font;
  background-color: $dark;
  color: $light;
}

button, a {
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    cursor: default;
  }
}

@import 'search';
@import 'details';